<!DOCTYPE html>
<html ng-app="darlehenApp">
  <head>
    <title>Darlehen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body ng-controller="DarlehenCtrl">
    <div class="container">
      The content of the document......
      <form role="form">
        <div class="form-group">
          <label for="purchase_price">Kaufpreis</label>
          <input type="number" class="form-control" id="purchase_price" ng-model="purchasePrice">
        </div>
      </form>
      {{purchasePrice}}
      <ul>
        <li ng-repeat="month in months()">
        {{month.value}}
        </li>
      </ul>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </body>

</html>
